<% if @users %>
	<a href="/signout">Sign out</a>
	<h3>You are now logged in, <%=@user.username%></h3>
	<form action="/rps/match" method="get">
		<label for="player-select">Challenge another user</label>
		<select id="player-select" name="id" class="users">
			<% @users.each do |u| %>
			<option value="<%="#{u.id}"%>"><%="#{u.username}"%></option>
			<% end %>
		</select>
		<input type="submit" text="submit">
	</form>
	<form action="/rps/pending/match" method="get">
		<label for="player-select">Games in progress</label>
		<select id="player-select" name="id" class="users">
			<% @users.each do |u| %>
			<option value="<%="#{u.id}"%>"><%="#{u.username}"%></option>
			<% end %>
		</select>
		<input type="submit" text="submit">
	</form>

<% else %>
<a href="/signin">Sign in</a>
<a href="/signup">Sign up</a>
<p>You are currently not logged in</p>
<% end %>
